{% extends 'beautyapp/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-center">
        <div class="col">
            <h1>Categories</h1>
            <br>
            {% for category in categories %}
            <div class="shadow p-4 mb-5 bg-body rounded">
                <h5>{{ category.name }}</h5>
                <a href="{% url 'delete_category' category.id %}" class="btn btn-danger">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}