{% extends 'beautyapp/base.html' %}

{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="shadow p-4 mb-5 bg-body rounded">
                <h1>Add doctor to database</h1>
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}